.containerStore {
  width: 100vw;
  background-color: #b0c4b1;
  display: flex;
}

.cardsContainer {
  width: 70%;
  padding-top: 70px;
}

.cart {
  min-width: 30%;
  padding-top: 80px;
  text-align: center;

}

.cart h1 {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 10px;
}
