.envelopesContainer {
  /* height: 75rem; */
  padding: 0 150px;
  height: max-content;
}
.img1 {
  width: 40rem;
  height: 30rem;
  margin-bottom: 200px;
}
.img2 {
  width: 30rem;
  height: 40rem;
}
.text {
  font-size: 2.19rem;
  width: 80%;
  text-transform: lowercase;
  font-style: italic;
  margin: auto;
  padding-right: 50px;
}

.secondImgContainer {
  margin: 0;
  height: max-content;
  position: relative;
  bottom: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-right: 0;
  text-align: right;
}
