.navComp {
  position: fixed;
  top: 0rem;
  z-index: 1;
  height: 6.25rem;
  width: 100%;
  background-color: #4a5759;
  font-size: 2.1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  padding: 0.25rem;
  text-align: center;
  text-decoration: none;
  color: white;
}
.textStore {
  position: fixed;
  left: 1.25rem;
  padding: 0rem 1.25rem;
  top: 0.5rem;
}
a.textStore:hover {
  color: black;
}
.textContact {
  position: fixed;
  left: 9.375rem;
  padding: 0rem 1.25rem;
  top: 0.5rem;
}
a.textContact:hover {
  color: black;
}
.textProfile {
  position: fixed;
  right: 12.5rem;
  padding: 0rem 1.25rem;
  top: 0.5rem;
}
a.textProfile:hover {
  color: black;
}
.textOff p {
  text-decoration: none;
  color: white;
  padding: 0rem 0.9375rem;
  position: fixed;
  right: 1.25rem;
  top: 0.5rem;
}
p.textOff:hover {
  color: black !important;
}
.textUser {
  position: fixed;
  right: 1.1rem;
  padding: 0rem 1.25rem;
  color: white;
  font-size: 1.2rem;
  top: 4rem;
}
.navRight {
  text-decoration: none;
  color: white;
  width: 25rem;
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navLeft {
  text-decoration: none;
  color: white;
  width: 18.75rem;
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 0.625rem;
}
.loginP {
  margin: 0rem;
}
.loginModal {
  position: relative;
  right: 15.625rem;
}
.img {
  height: 430px;
}
