.helloContainer {
  background-image: url("../../assets/images/home-page-img.jpg");
  background-size: 100%;
  height: 53.1rem;
  width: 100%;
  padding: 2.5rem;
  margin-top: 6.25rem;
  object-fit: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.helloH1 {
  padding: 0rem;
  margin-bottom: 0rem;
  margin-top: 7.5rem;
  margin-left: 3.75rem;
  width: 50rem;
  height: 5.62rem;
  font-size: 9.125rem;
  font-family: "EB Garamond", serif;
}
.helloH1b {
  position: relative;
  bottom: -3.5rem;
  width: 30rem;
  height: 6.25rem;
  margin-left: 3.75rem;
  font-size: 6.62rem;
  font-family: "EB Garamond", serif;
}
.helloH3 {
  margin-top: 3.25rem;
  margin-left: 3.75rem;
  text-align: left;
  width: 33.125rem;
  height: 5.62rem;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 0.0625rem;
}
.helloBtn {
  text-align: center;
  padding-top: 0.2rem;
  margin-top: 1.25rem;
  margin-left: 3.75rem;
  background-color: #dedbd2;
  border-radius: 1.5625rem;
  width: 11.875rem;
  height: 3.125rem;
  font-size: 1.6rem;
}
