.text {
  margin: 0rem;
  text-decoration: none;
  color: white;
  padding: 0rem 0.625rem;
}
.textSignUp {
  position: fixed;
  left: 23.125rem;
  padding: 0rem 1.875rem;
  top: 0.5rem;
}
p.textSignUp:hover {
  color: black;
}
