.howWorksContainer {
  background-color: #ffffff;
  height: max-content;
  width: 100vw;
  padding: 80px 40px;
}
.howWorksContainer h1 {
  text-align: center;
  font-size: 6.5rem;
  margin-bottom: 120px;
}
.cardContent h2 {
  font-size: 7.5rem;
  margin-bottom: 10px;
  line-height: 6.25rem;
}
.cardContent h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
}
.cardContent p {
  font-size: 1.5rem;
}
.card {
  width: 480px;
  max-height: max-content;
  padding: 20px;
  background-color: #e4e3df;
  margin: 10px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
