.howWorksContainer {
  background-color: aliceblue;
  height: 34rem;
  font-family: "Roboto", sans-serif;
}
.howWorksContainer h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 0.95rem;
  margin: 0rem;
  font-family: "Roboto", sans-serif;
}
.howWorksContainer h2 {
  text-align: center;
  font-size: 6.25rem;
  margin: 1.25rem;
  text-align: center;
  margin-top: -5.31rem;
  margin-bottom: 3.12rem;
  height: 4.37rem;
  font-family: "Roboto", sans-serif;
}
.howWorksContainer h3 {
  text-align: center;
  font-size: 2.19rem;
  margin: 0rem;
  margin-bottom: 1.93rem;
  height: 1.87rem;
  font-family: "Roboto", sans-serif;
}
.howWorksContainer p {
  text-align: center;
  font-size: 1.25rem;
  margin: 0rem;
  font-family: "Roboto", sans-serif;
}
.card {
  width: 30rem;
  height: 17rem;
  padding: 0.625rem;
  display: flex;
  justify-content: center;
}
.cardContent {
  background-color: #e4e3df;
  width: 28.125rem;
  margin-top: 1.875rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
}
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.625rem;
}
