.contactContainer {
  background-color: #4a5759;
  height: 17rem;
  color: white;
}
.contactH1 {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact {
  justify-content: center;
  display: flex;
  flex: row;
  margin-top: -40px;
}
.cardsContainer {
  margin-top: 5.62rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  text-align: center;
}

.cardContent h2 {
  font-size: 1.5rem;
  width: 15rem;
  margin-top: -3.75rem;
  font-family: "Roboto", sans-serif;
}
.cardContent p {
  text-align: center;
  margin-top: -1.1875rem;
  margin-bottom: -0.625rem;
  height: 9.375rem;
  width: 12.5rem;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: -0.9375rem;
}
.cardImg {
  position: relative;
  bottom: 4.37rem;
  width: 5rem;
  height: 5rem;
  background-color: black;
  border-radius: 50%;
}
